@page
@model plantando_bem.RazorPages.Pages.Calendario.CalendarioPrevisaoTempo
@{
    ViewData["Title"] = "CalendarioPrevisaoTempo";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/css/previsaoCalendario.css"/>

<div id="weather-calendar-container">
    <div id="weather-calendar">
        <div class="days">
            <div class="day" id="0">Hoje - @DateTime.Now.ToString("dd/MM/yyyy")</div>
            <div class="day" id="1">Dia - @DateTime.Now.AddDays(1).ToString("dd/MM/yyyy")</div>
            <div class="day" id="2">Dia - @DateTime.Now.AddDays(2).ToString("dd/MM/yyyy")</div>
        </div>
    </div>
</div>

<div id="weather-info-container"></div>

<script>
    $(document).ready(function() {
        var weatherInfoContainer = $("#weather-info-container");
        
        var days = $(".day");

        days.on("click", function() {
            var day = $(this);
            // Limpar seleção anterior
            days.removeClass("selected");
            
            // Adicionar classe 'selected' ao dia clicado
            day.addClass("selected");

            // Limpar conteúdo anterior
            weatherInfoContainer.empty();

            var slcId = parseInt($(this).attr("id"));

            var selectedDay0  = @(Json.Serialize(Model.PrevisaoTempo.Previsao!.PrevisaoDias![0]));
            var selectedDay1  = @(Json.Serialize(Model.PrevisaoTempo.Previsao!.PrevisaoDias![1]));
            var selectedDay2  = @(Json.Serialize(Model.PrevisaoTempo.Previsao!.PrevisaoDias![2]));
            var selectedDay = null;

            switch(slcId) {
                case 0:
                    selectedDay = selectedDay0;
                    break;
                case 1:
                    selectedDay = selectedDay1;
                    break;
                case 2:
                    selectedDay = selectedDay2;
            }
            
            // Obter informações da previsão do tempo para o dia selecionado
            @* var selectedPrevisao = @(Json.Serialize(Model.PrevisaoTempo.Previsao!)); // Use o índice correto para obter o dia correto
            $.each(selectedPrevisao, function(index, slcPrev) {
                if(index == slcId) {
                    selectedDay = slcPrev;
                    return false;
                }
            }); *@

            var hours = selectedDay.horas;

            // Exibir informações do tempo para o dia selecionado
            var weatherInfo = $("<div></div>").addClass("weather-info table-responsive");
            var dayLabel = $("<h3></h3>").text("Dia - " + selectedDay.Data);
            weatherInfo.append(dayLabel);

            var table = $("<table></table>").addClass("table table-sm");

            var trs = $("<tr></tr>").append("<th></th>");
            for(var i=0; i<24; i++) {
                if(i<10)
                    trs.append("<th>0" + i + ":00");
                else
                    trs.append("<th>" + i + ":00");
            }

            var tableHead = $("<thead></thead>").html(trs);
            var tableBody = $("<tbody></tbody>");

            var rowHumidade = $("<tr></tr>").append("<td>Humidade</td>");
            var rowTempC = $("<tr></tr>").append("<td>Temperatura</td>");
            var rowVelVen = $("<tr></tr>").append("<td>Km/h Vento</td>");
            rowImgs = $("<tr></tr>");
            rowImgs.append("<td></td>");
            
            for(var i = 0; i < 24; i++) {
                var hour = hours[i];

                var tdHum = $("<td></td>").text(hour.humidade + "%").css("vertical-align", "middle");
                var tdTempC = $("<td></td>").text(hour.temperaturaEmC + "Cº").css("vertical-align", "middle");
                var tdVelVent = $("<td></td>").text(hour.velocVentoKmph).css("vertical-align", "middle");

                rowHumidade.append(tdHum);
                rowTempC.append(tdTempC);
                rowVelVen.append(tdVelVent);
                
                var img = $("<img>").attr("src", hour.condicaoTempo.icone).css("width", "30px");
                var tdImg = $("<td></td>").append(img);
                rowImgs.append(tdImg);

                tableBody.append(rowHumidade, rowTempC, rowVelVen, rowImgs);
            }

            table.append(tableHead, tableBody);
            weatherInfo.append(table);
            weatherInfoContainer.append(weatherInfo);
        });
    });
</script>
